body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#header {
    background: #F5DEB3;
    width: 100%;
    height: 55px;
}

#container {
    background: #FFF;
    margin: auto auto;
    text-align: center;
    width: 80%;
    height: 400px;
}